{% extends 'make_base.html.twig' %}

{% block title %}New Make{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-10 ml-md-auto">
      <div class="card bg-light mb-3 mt-5" style="width: 800px">
        <div class="card-body">
          <div class="card-header mb-3">Create New Make</div>
            {{ include('make/_form.html.twig') }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
